In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
import tkinter

window = tkinter.Tk()

# Window 창설정
window.title('AI TEST')
window.geometry('640x480')  # 너비 x 높이 + x좌표 + y좌표
window.resizable(False,False) # 창 크기 여부

# 라벨링
label = tkinter.Label(window, text='안녕하세요')
label.pack()

window.mainloop()

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 방문 
# 방문객 정보
# 음식점 정보

# 예시안
columns_data = [
    'id',
    '음식점',
    '인원',
    '메인메뉴',
    '서브메뉴1',
    '서브메뉴2',
    '서브메뉴3',
    '서브메뉴4',
    '서브메뉴5',
    '요일',
    '날짜',
]

index_data = [0, '금마루','6','한식','제육볶음','불고기','부대찌개',np.nan,np.nan,'수요일','2024-01-10']

df = pd.DataFrame(columns=columns_data)
df.loc[0] = index_data
df

   id  음식점 인원 메인메뉴 서브메뉴1 서브메뉴2 서브메뉴3  서브메뉴4  서브메뉴5   요일          날짜
0   0  금마루  6   한식  제육볶음   불고기  부대찌개    NaN    NaN  수요일  2024-01-10