In [35]:
import pandas as pd

player_df = pd.read_csv(r'data\DarkSoul_3\player_chart.csv')
player_df['DateTime'] = pd.to_datetime(player_df['DateTime'])
player_df = player_df.fillna(0)

for item in player_df.select_dtypes(float).columns:
    player_df[item] = player_df[item].apply(int)

player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4517 entries, 0 to 4516
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DateTime         4517 non-null   datetime64[ns]
 1   Players          4517 non-null   int64
 2   Average Players  4517 non-null   int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 106.0 KB

In [21]:
sale_df = pd.read_csv(r'data\DarkSoul_3\sale_chart.csv')
sale_df['Original price'] = 49800
sale_df['Sale Rate'] = round(1 - sale_df['Final price']/sale_df['Original price'],2)
sale_df['DateTime'] = pd.to_datetime(sale_df['DateTime'])
sale_df

              DateTime  Final price  Original price  Sale Rate
0  2016-02-15 23:40:11        65000           49800      -0.31
1  2016-03-02 22:50:08        49800           49800       0.00
2  2016-06-23 21:41:08        37350           49800       0.25
3  2016-07-04 18:11:14        49800           49800       0.00
4  2016-08-23 17:10:38        33370           49800       0.33
..                 ...          ...             ...        ...
79 2023-09-07 17:01:28        24900           49800       0.50
80 2023-09-11 17:21:36        49800           49800       0.00
81 2023-11-21 18:29:16        24900           49800       0.50
82 2023-11-28 18:27:05        49800           49800       0.00
83 2024-01-27 13:08:23        49800           49800       0.00

[84 rows x 4 columns]